@font-face {
    font-family: 'Akashi';
    src: url('/fonts/akashi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PantonNarrow';
    src: url('/fonts/panton-narrow-black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Leg-Hug';
    src: url('/fonts/Leg-Hug.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #121212;
    color: #E0E0E0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    font-family: 'Akashi', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: black;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin: 0 auto;
    text-shadow:
        1px 1px 0 white,
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 0 0 white,
        -1px 0 0 white,
        0 1px 0 white,
        0 -1px 0 white;
}

h1 .insight {
    display: block;
    font-size: 2.7rem;
    margin-top: -10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: left;
    /* Mantém o texto alinhado à esquerda */
    width: fit-content;
    margin: 0 auto;
    /* Centraliza horizontalmente */
}

form {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

#player-form,
#player-form * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Spacing between select and button */
    gap: 10px;
    /* A small gap between the two */
    width: 100%;
    /* Ensure full width of the input name */
}

#player-name,
#season-select {
    padding: 7px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: #E0E0E0;
}

#player-name {
    width: 100%;
    /* Ensure this input uses the full width available */
    margin-bottom: 10px;
}

#season-select {
    flex: 3;
    background-color: #333;
    /* Dark background */
    color: #E0E0E0;
    /* Light text color */
    border: 1px solid #444;
    /* Dark border */
    border-radius: 5px;
    /* Rounded corners */
    padding: 10px;
    appearance: none;
    /* Removes the default browser styling */
    scrollbar-color: #555 #333;
    /* Thumb color #555, track color #333 */
    scrollbar-width: thin;
    /* Slimmer scrollbar */
    -webkit-appearance: none;
    /* For WebKit browsers */
    -moz-appearance: none;
    /* For Firefox */
}

#season-select option {
    background-color: #333;
    /* Ensure options are also dark */
    color: #E0E0E0;
    /* Light text in options */
}

#season-select::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #E0E0E0;
    /* Custom arrow color */
    pointer-events: none;
}

/* WebKit browsers (Chrome, Safari, Edge) */
#season-select::-webkit-scrollbar {
    width: 10px;
}

#season-select::-webkit-scrollbar-thumb {
    background-color: #555;
    /* Dark color for scrollbar thumb */
    border-radius: 10px;
}

#season-select::-webkit-scrollbar-track {
    background-color: #333;
    /* Dark background for scrollbar track */
}

/* Remove o estilo padrão do autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #333 inset !important;
    /* Cor de fundo */
    -webkit-text-fill-color: #ffffff !important;
    /* Cor do texto */
    transition: background-color 5000s ease-in-out 0s;
}

#player-stats {
    font-family: 'PantonNarrow', sans-serif;
    background-color: #1d1d1d;
    /* Cor de fundo igual ao site */
    border: 1px solid #222222;
    /* Borda suave */
    border-radius: 10px;
    padding: 0px;
    margin-top: 20px;
    /* Ajuste para espaço inferior maior */
    position: relative;
    z-index: 0;
    /* Div da Steam atrás das abas */
    display: none;
    /* Initially hidden */
}

button {
    flex: 1;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1f1f1f;
    color: #E0E0E0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333;
}

.player-info {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    padding-top: 13px;
    background: linear-gradient(90deg, #333333 0%, #1d1d1d 100%);
    border-top-left-radius: 10px;
    /* Mantém as bordas arredondadas para alinhar com o contêiner */
    border-top-right-radius: 10px;
    /* Mantém as bordas arredondadas */
    position: relative;
    z-index: 1;
    /* Certifica-se de que fique no topo sem sobrepor o contêiner */
}

.player-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#player-name-display {
    font-family: inherit;
    /* Mantém a fonte que estava antes */
}

.player-info h2 {
    margin: 0;
    color: #afafaf;
    font-size: 120%;
}

.tab-bar {
    display: flex;
    justify-content: center;
    margin-top: -12px;
    /* Ajuste para que as abas sobreponham 20% da div da Steam */
    gap: 20px;
    /* Espaçamento de 25px entre os botões */
    padding-left: 25px;
    /* Adiciona mais espaço entre as abas e a borda lateral esquerda */
    padding-right: 25px;
    /* Adiciona mais espaço entre as abas e a borda lateral direita */
    position: relative;
    /* Para ajustar a sobreposição */
    z-index: 1;
    /* Garantir que as abas fiquem acima da div */
}

.tablink.active {
    border-bottom: 3px solid #c9c9c9;
    /* Adiciona a linha vermelha ao botão ativo */
    padding-bottom: 2px;
    /* Ajusta o padding para manter o alinhamento correto */
}

.w3-bar-item {
    font-family: 'PantonNarrow', sans-serif;
    padding: 15px 30px;
    /* Tamanho das abas */
    background-color: #444;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    /* Efeito de elevação */
    white-space: nowrap;
    /* Impede a quebra de linha dentro dos botões */
}

.w3-bar-item:hover,
.w3-bar-item.w3-gray {
    background-color: #666;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* 6 colunas */
    gap: 10px;
    /* Reduzindo o espaçamento entre os itens */
    margin-top: 20px;
}

#stats-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* Define 6 colunas de tamanho igual */
    grid-template-rows: auto auto;
    /* Define 2 linhas automáticas */
    gap: 20px;
    /* Define um espaçamento entre as colunas e as linhas */
    justify-items: center;
    /* Centraliza o conteúdo dentro das colunas */
    align-items: center;
    /* Alinha o conteúdo no centro verticalmente */
    height: 150px;
    /* Mantém a altura fixa para o container */
    padding-bottom: 20px;
}

.no-data-message {
    font-size: 24px;
    /* Fonte maior */
    color: #7F7F7F;
    /* Cinza 127 */
    text-align: center;
    /* Centraliza o texto */
    grid-column: span 6;
    /* Garante que ocupe toda a largura das colunas */
    line-height: 85px;
    /* Centraliza verticalmente */
    white-space: nowrap;
    /* Impede quebra de linha */
}

.stat-item {
    width: 100%;
    padding-left: 30px;
    text-align: left;
    border-radius: 10px;
    color: #E0E0E0;
    gap: 5px;
    /* Menor espaçamento interno */
}

.stat-item h2 {
    font-size: 14px;
    margin-bottom: 5px;
    /* Reduzir o espaço entre h2 e p */
    color: #5a5a5a;
}

.stat-item p {
    font-size: 20px;
    /* Um pouco menor para ajustar ao layout */
    margin: 0;
    /* Remover margem extra */
    color: #fff;
}

/* General container for matches */
.match-list {
    background-color: #1d1d1d;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.match-list h2 {
    font-family: 'PantonNarrow', sans-serif;
    color: #afafaf;
    margin-bottom: 2%;
    font-size: xx-large;
    margin-top: 1%;
    margin-left: 2%;
}

.arrow {
    cursor: pointer;
    width: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 10px;
    margin-left: -30px;
}

.arrow-top,
.arrow-bottom {
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 100%;
}

.arrow-top {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    transform-origin: bottom right;
}

.arrow-bottom {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    transform-origin: top right;
}

/* Apply the font to all match-related text */
.match-info,
.match-map-mode,
.match-stats,
.match-photo-rank,
.match-rank-overlay,
.match-map,
.match-mode,
.match-kills,
.match-assists,
.match-damage,
.match-time {
    font-family: 'Leg-Hug', sans-serif;
}

/* Main match display container */
.match-info {
    display: flex;
    justify-content: space-between; /* Ensure even spacing */
    align-items: center; /* Align vertically in the center */
    background-color: #282828;
    border-radius: 10px;
    margin-bottom: 15px;
    color: #fff;
    overflow: hidden;
    width: 100%;
    height: 90px;
}

/* Photo and rank overlay section */
.match-photo-rank {
    width: 25%;
    /* 1/4th of the total container width */
    height: 100%;
    /* Ensure proper height */
    position: relative;
}

.match-background {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transform: scale(1.3);
    transform-origin: left center;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
}

/* Overlay for the rank on top of the image */
.match-rank-overlay {
    position: absolute;
    top: 50%;
    /* Vertically centered */
    left: 20%;
    /* Horizontally centered */
    transform: translate(-50%, -50%);
    z-index: 1;
    /* Ensure it's on top of the background */
    text-shadow: 2px 2px 4px rgba(0, 0, 0);
}

.rank-large {
    font-size: 3rem;
    /* Larger size for the rank before '/' */
    color: #ffff00;
    /* Yellow color */
    vertical-align: bottom;
    /* Aligns with the smaller part */
}

.rank-small {
    font-size: 2.4rem;
    /* Smaller size for the part after '/' */
    color: #ffffff;
    /* White color */
    vertical-align: bottom;
    /* Ensures both parts align at the bottom */
}

.first-place {
    border-left: 5px solid #ffff00;
    /* Yellow border on the left */
}

/* Map name and game mode section */
.match-map-mode {
    flex-direction: column;
    justify-content: space-around;
    /* Space the map and mode vertically */
    text-align: left;
    padding-left: 10px;
}

.match-map {
    font-size: 1.7rem;
    color: #fff;
    letter-spacing: 0.1rem;
}

.match-mode {
    font-size: 1.4rem;
    color: #fff;
    letter-spacing: 0.05rem;
}

.match-stats {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    /* Ajuste os valores conforme necessário para obter o alinhamento desejado */
    align-items: center;
    justify-items: start;
    height: 100%;
    margin-left: 5%;
}

.match-stats div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.match-stats div::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 15%, rgb(255 255 255) 50%, rgba(255, 255, 255, 0) 85%);
    opacity: 0.5;
    transform: translateX(-50%);
}

.match-kills, .match-assists, .match-damage, .match-time {
    font-size: 1.3rem;
    color: #fff;
    letter-spacing: 0.1rem;
    text-align: left;
    width: 100%; /* Para garantir que eles ocupem o espaço total da célula */
}

.match-time {
    margin-right: 10px;
}

/* Estilos para a modal */
.modal {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85); /* Fundo escuro com leve transparência */
    z-index: 1000;
    overflow-y: auto; /* Permite rolar se o conteúdo for maior que a tela */
    padding-top: 20px;
}

/* Estilo do conteúdo da modal */
.modal-content {
    background-color: #222; /* Fundo escuro */
    width: 90%;
    max-width: 700px; /* Largura máxima para uma boa visualização */
    border-radius: 8px; /* Bordas arredondadas para um toque suave */
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Sombra suave para dar profundidade */
    color: #E0E0E0; /* Texto claro */
    overflow-y: auto;
}

/* Estilo dos títulos dos times */
.modal-content .title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff; /* Cor branca para se destacar no fundo escuro */
    margin-bottom: 15px;
    text-align: center; /* Centraliza o título */
}

/* Estilos das tabelas */
.table-container {
    width: 100%;
    border-collapse: collapse; /* Remove o espaço entre as bordas */
    margin-bottom: 20px;
}

.table-container th,
.table-container td {
    border: 1px solid #333; /* Bordas suaves */
    padding: 10px;
    text-align: center;
    color: #ddd; /* Cor clara para o texto */
    font-family: 'PantonNarrow', sans-serif;
}

.table-container th {
    background-color: #444; /* Fundo escuro para o cabeçalho */
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.table-container td {
    background-color: #2b2b2b; /* Cor de fundo para as células */
    font-size: 14px;
}

#load-more {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

#load-more:hover {
    background-color: #555;
}